.container7 {
  height: 100px;
  border: 10px solid black;
}

.container7 .item5 {
  width: 200px;
  height: 100px;
  background-color: royalblue;

}
/* 미디어쿼리 : 브라우저 화면의 크기에 맞게 
반응형 웹 사이트를 만들 수 있음. 500px 이하*/
@media (max-width: 500px) {
  .container7 {
    height: 200px;
    border: 10px solid red;
    background-color: orange;
  }
  .container7 .item5 {
    width: 100px;
    height: 300px;
  }

}


.container6 {
  height: 100px;
  border: 4px solid black;
}
.container6 .item4 {
  width: 100px;
  height: 100px;
  background-color: royalblue;

  transition: 0.4s;

}
.container6 .item4:hover {
  transform: rotate(45deg);
  background-color: orange;
  border-radius: 50%;
}

.container5 {
  height: 100px;
  border: 4px solid black;
}

.container5 .item3 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  transform: 
    translateX(50px) 
    translateY(50px) 
    rotate(135deg) 
    scale(1.2);
  border-radius: 50%;
}


.container4 {
  height: 500px;
  border: 4px solid black;
  display:flex;
  justify-content:center;
  align-items: center;
  gap : 30px;

}

.container4 .item2 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: whitesmoke;
}

.container3 {
  width: 300px;
  height: 150px;
  background-color: royalblue;
  background-image: url("https://heropy.blog/css/images/logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center center;
}

.container2 {
  // 16px가 기본임// 400이 기본, 굵기
  font-size: 22px;
  font-weight: 500;
  font-family: serif;
  line-height: 2;
  text-align: center;
  color: blue;
  text-decoration: underline;
  word-break: keep-all;

}

.container {
  background-color: orange;
  height: 200px;
  padding-top: 30px;
  padding-left: 30px;
  width: 200px;
}

.item {
  background-color: royalblue;
  max-width: 150px;
  height: 70px;
  margin-bottom: 30px;
  padding-top: 30px;
  border: 4px solid red;
  border-radius: 50px;
  /* 가로 세로 블러 (그림자색, rgb,투명도) */
  box-shadow: 30px 10px 10px rgba(0,0,0,0.5);
}

/* 클래스 선택자 접근 - 마침표를 통해서, 원하는 부분에만 선택적으로 적용 */
.h {
  /* 색상 변경 */
  color: tomato;
  font-size: 50px;
}
.w {
  color: aqua;
  font-size: 100px;

}

/* 하위(후손) 선택자 */
div .h {
  color: beige;
}

div .w {
  color: orange;
}

span {
  color: red;
}

/* 태그 선택자 : Type Selector */
li {
  color: blueviolet;
}

/* 가상클래스 : :hover */
a:hover {
  color: darkgoldenrod;
}
/* 가상클래스 : active */
a:active {
  color: red;
}

/* 상자모델, 글꼴, 문자, 배경, 배치, 정렬(요소들 상호간), */
/* 전환 - 애니메이션 효과 (사이의 상태를 애니메이션으로 ) */
/* 변환 - 2d/3d 효과 (회전, 비율, 기울이기, 이동, 원근감) */
/* 띄움 : 신문기사 느낌 (요소를 글자 위에 띄움) */
/* 애니메이션 - 좀 더 복잡함 (전, 후 상태 외에도 복잡하게 효과를 주려고 할 때) */
/* 그리드 : 요소들의 레이아웃 지정 */
/* 다단 : 신문의 요소, 여러 단으로 배치 */
/* 필터 : 요소에 흐리게, 무채색 / 색상반전 등의 그래픽 효과  */


